<div class="sort">
  <select id="cd-dropdown" name="cd-dropdown" class="cd-select">
    <option value="-1" selected>Sort by</option>
    <option value="1" class="icon-monkey">Monkey</option>
    <option value="2" class="icon-bear">Bear</option>
    <option value="3" class="icon-squirrel">Squirrel</option>
    <option value="4" class="icon-elephant">Elephant</option>
  </select>
</div>
