<div class="section-body">
  <table class="table table-bordered">
    <tr>
      <td class="col-sm-1 glyphicon glyphicon-earphone"></td>
      <td class="col-sm-11"><%= @user.phone %></td>
    </tr>
    <tr>
      <td class="col-sm-1 icon-building contact-icon"></td>
      <td class="col-sm-11"></td>
    </tr>
    <tr>
      <td class="col-sm-1 glyphicon glyphicon-envelope"></td>
      <td class="col-sm-11"><%= @user.email %></td>
    </tr>
    <tr>
      <td class="col-sm-1 glyphicon glyphicon-home"></td>
      <td class="col-sm-11"></td>
    </tr>
  </table>
</div>
