<article class="post show-tab-user show-quote-user">
  <div class="clearfix">
    <div class="fancy-title">
      <h4><%= t ".quote" %></h4>
    </div>
    <i class="fa fa-quote-left"></i>
    <div class="block-quote education-info">
      <blockquote><%= quote_content user.info_user_quote %></blockquote>
    </div>
    <i class="fa fa-quote-right"></i>
  </div>
</article>
