@import 'variables/color';

.box-information {
  padding: 10px 10px 30px 10px;

  li {
    list-style-type: square;
  }

  hr {
    border-width: 2px;
    border-color: $sliver;
  }

  .profile-title {
    color: $orange;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .self_introduction {
    margin-left: 15px;
    word-wrap: break-word;
  }

  .pull-right {
    color: $gray-dark;
    font-style: italic;
  }

  .section-padding {
    padding: 0px;
  }

  .list-group-item {
    border-radius: 0;
    padding: 5px 15px;
    background: $white;
    border: none;
    margin-bottom: 10px;
    .list-group-item-title {
      font-size: 15px;
      font-weight: 600;
      width: 100%;
      position: relative;
      z-index: 2;
      span {
        background: $white;
        padding-right: 20px;
      }
    }
    .pull-right {
      background: url(https://de7iszmjjjuya.cloudfront.net/assets/linethrough-bg-ca1a0157a77da0bca2ace712e4d6037a7aa1dec69db54d1491c4e7918a33855a.gif);
      background-repeat: repeat-x;
      background-position: left center;
      padding: 5px 0px;
      width: 90%;
      margin-right: 15px;
      display: block;
      margin-left: auto;
      position: absolute;
      right: 0;
      top: 0;
      color: #9DA0A4;
      text-align: right;
      span {
        background: $white;
        padding-left: 20px;
      }
    }
    p {
      margin-bottom: 0px;
    }
    .addition-information {
      padding-left: 15px;
      font-size: 14px;
      color: $gray-dark;
    }
  }
}

.show-course {
  box-shadow: 1px 2px 2px 1px $sliver;
  height: 370px;
  margin-left: 15px;
  padding: 10px;
  width: 250px;

  .course-description {
    color: $gray-dark;
    font-style: italic;
  }

  .course-name {
    font: bold 17px Courier;
  }
}

.list-group {
  margin-bottom: 0px;
  cursor: pointer;
}

.occupation {
  bottom: 30px;
  color: $tundora;
  left: 204px;
  position: absolute;

  .fa {
    margin-right:10px;
  }
}

.edit-toggle {
  cursor: pointer;
}

.short-form {
  width: 60%;
}

.edit-form {
  background-color: $gray-ece;
  box-shadow: 1px 2px 2px 1px $sliver;
  display: none;
  padding: 10px;
}

.form-edit-profile {
  background-color: $gray-ece;
  box-shadow: 1px 2px 2px 1px $sliver;
  display: none;
  height: 100%;
  margin-top: 20px;
  padding: 10px;
}

.create-form {
  display: none;
  margin-top: 10px;
}

.show-form {
  .button-edit {
    color: blue;
    display: none;
    margin-left: 10px;
  }
}

.row-margin-top {
  margin-top: 10px;
}

.btn-tms-sync {
  margin-top: -14px;
}

.nav-tabs-profile-user {
  bottom: 20px;
  left: 205px;
  width: 56%;
  position: absolute;
  font-size: 13px;
  color: $color-media-meta;
  i {
    margin-right: 4px;
  }
  .row {
    margin-bottom: 3px;
  }
}

.style-italic {
  font-style: italic;
}

.weight-bold {
  font-weight: bold;
}

.white-color {
  color: white;
}

.col-md-5-custom {
  width: 30%;
  float: left;
}

.col-md-7-custom {
  float: left;
  padding: 5px 5px 0 10px;
  width: 70%;
}

.li-trainee {
  box-shadow: 1px 2px 2px 1px $sliver;
  height: 120px;
}

.show-trainee {
  padding: 15px;
  .message-button {
    bottom: 20px;
    position: absolute;
    right: 5px;
  }
}

.current-skills .list-group-item {
  border-radius: 0;
  padding: 5px 15px;
}

.btn {
  border-radius: 0;
}
